<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HiNetCloud.Telerik.WinControls" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.Telerik.WinControls.GridView" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.Telerik.WinControls.UI" version="20.4.21.21" targetFramework="net472" />
  <package id="HiNetCloud.TelerikCommon" version="20.4.21.21" targetFramework="net472" />
</packages>